<main class="container">
    <app-back-button></app-back-button>

    <h1 class="page-title">Página de contador</h1>

    <div class="counter-box">
        <button class="action-btn" (click)="some()">+</button>
        <div class="current-number-container">
            <div class="current-number">
                <h3 class="current-number-value">
                    {{ currentNumber }}
                </h3>
            </div>
        </div>
        <button class="action-btn" (click)="subtract()">-</button>
    </div>
</main>