.container {
    flex-direction: column;
    gap: 4rem;
}

.page-title {
    font-size: 4.3rem;
}

.counter-box {
    width: 60%;
    height: 15rem;
    background-color: #d0d0d2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
    border-radius: 0.7rem;
    box-shadow: 0 0 10px #a1a1a1;
}

.action-btn {
    width: 6rem;
    aspect-ratio: 1 / 1;
    background-color: #bdbdc8;
    border: none;
    border-radius: 100%;
    box-shadow: inset -5px -5px 5px 4px #b3b0b8;
    font-size: 5rem;
    cursor: pointer;
}

.current-number-container {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-number {
    min-width: 5rem;
    height: 6rem;
    background-color: #a1a1a1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.7rem;
}

.current-number-value {
    color: #dddd;
    font-size: 4rem;
}