.container {
    flex-direction: column;
    gap: 4rem;
}

.page-title {
    font-size: 4.3rem;
}

.counter-box {
    width: 60%;
    height: 15rem;
    background-color: #d0d0d2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
    border-radius: 0.7rem;
    box-shadow: 0 0 10px #a1a1a1;
}

.action-btn {
    width: 6rem;
    aspect-ratio: 1 / 1;
    background-color: #bdbdc8;
    border: none;
    border-radius: 100%;
    box-shadow: inset -5px -5px 5px 4px #b3b0b8;
    font-size: 5rem;
    cursor: pointer;
}

.current-number-container {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-number {
    min-width: 5rem;
    height: 6rem;
    background-color: #a1a1a1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.7rem;
}

.current-number-value {
    color: #dddd;
    font-size: 4rem;
}


/* tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .page-title {
        font-size: 2.7rem;
    }

    .counter-box {
        width: 70%;
        height: 10rem;
    }

    .current-number-value {
        font-size: 3.5rem;
    }
}

/* mobile */
@media (min-width: 600px) and (max-width: 768px) {
    .page-title {
        font-size: 2.3rem;
    }

    .counter-box {
        width: 70%;
        height: 10rem;
    }

    .current-number-value {
        font-size: 3.5rem;
    }
}

@media (max-width: 600px) {
    .page-title {
        font-size: 1.9rem;
    }

    .counter-box {
        width: 70%;
        height: 10rem;
    }

    .action-btn {
        width: 4rem;
        aspect-ratio: 1 / 1;
        font-size: 2.5rem;
    }

    .current-number-value {
        font-size: 2rem;
    }
}