.container {
    flex-direction: column;
    gap: 4rem;
}

.page-title {
    font-size: 4.3rem;
}

.links-menu-box {
    width: 60%;
    height: 15rem;
    background-color: #d0d0d2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 0.7rem;
    border-radius: 0.7rem;
    box-shadow: 0 0 10px #a1a1a1;
}

.box-title {
    font-size: 1.5rem;
}

.links-box {
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.page-link {
    width: 30%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    text-decoration: none;
}

.page-link:hover {
    background-color: #c1c1c9;
    transition: 0.7s;
}


/* tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .page-title {
        font-size: 2.7rem;
    }

    .links-menu-box {
        width: 50%;
        height: 10rem;
    }

    .box-title {
        font-size: 0.9rem;
    }

    .page-link {
        width: 30%;
        height: 2rem;
        font-size: 0.7rem;
    }
}

/* mobile */
@media (min-width: 600px) and (max-width: 768px) {
    .page-title {
        font-size: 1.9rem;
    }

    .links-menu-box {
        width: 40%;
        height: 8rem;
    }

    .box-title {
        font-size: 0.8rem;
    }

    .page-link {
        width: 45%;
        height: 2rem;
        font-size: 0.6rem;
    }
}

@media (max-width: 600px) {
    .page-title {
        font-size: 1.9rem;
    }

    .links-menu-box {
        width: 60%;
        height: 8rem;
    }

    .box-title {
        font-size: 0.8rem;
    }

    .page-link {
        width: 45%;
        height: 2rem;
        font-size: 0.6rem;
    }
}