.container {
    flex-direction: column;
    gap: 1rem;
}

.page-title {
    font-size: 4.3rem;
}

.page-subtitle {
    font-size: 1.3rem;
}

.back-to-home-link {
    width: 25rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    font-size: 2rem;
    text-decoration: none;
    margin-top: 2rem;
}

.back-to-home-link:hover {
    background-color: #c2c3cd;
    transition: 0.7s;
}