.back-to-home-button {
    width: 4rem;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    position: absolute;
    top: 7%;
    left: 3%;
    border: none;
}

.back-to-home-link {
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 3rem;
    text-decoration: none;
}